Definitions of Pandas:
Pandas is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python.

Pandas build upon numpy and scipy providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures pandas provides are Series and DataFrames.

In [12]:
import pandas as pd

In [13]:
ratings = pd.read_csv(r"E:\All Data sets\archive\rating.csv")

In [14]:
ratings.shape

(20000263, 4)

In [15]:
tags = pd.read_csv(r"E:\All Data sets\archive\tag.csv")

In [16]:
movies = pd.read_csv(r"E:\All Data sets\archive\movie.csv")

In [17]:
tags.shape

(465564, 4)

In [18]:
movies.shape

(27278, 3)

In [19]:
print(tags.columns)
print(ratings.columns)
print(movies.columns)

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')

In [20]:
tags.head(20)

    userId  movieId                tag            timestamp
0       18     4141        Mark Waters  2009-04-24 18:19:40
1       65      208          dark hero  2013-05-10 01:41:18
2       65      353          dark hero  2013-05-10 01:41:19
3       65      521      noir thriller  2013-05-10 01:39:43
4       65      592          dark hero  2013-05-10 01:41:18
5       65      668          bollywood  2013-05-10 01:37:56
6       65      898   screwball comedy  2013-05-10 01:42:40
7       65     1248      noir thriller  2013-05-10 01:39:43
8       65     1391               mars  2013-05-10 01:40:55
9       65     1617           neo-noir  2013-05-10 01:43:37
10      65     1694              jesus  2013-05-10 01:38:45
11      65     1783      noir thriller  2013-05-10 01:39:43
12      65     2022              jesus  2013-05-10 01:38:45
13      65     2193             dragon  2013-05-10 02:01:54
14      65     2353  conspiracy theory  2013-05-10 02:01:06
15      65     2662               mars  2013-05-10 01:40:55
16      65     2726      noir thriller  2013-05-10 01:39:43
17      65     2840              jesus  2013-05-10 01:38:45
18      65     3052              jesus  2013-05-10 01:38:46
19      65     5135          bollywood  2013-05-10 01:37:56

In [21]:
ratings.head(20)

    userId  movieId  rating            timestamp
0        1        2     3.5  2005-04-02 23:53:47
1        1       29     3.5  2005-04-02 23:31:16
2        1       32     3.5  2005-04-02 23:33:39
3        1       47     3.5  2005-04-02 23:32:07
4        1       50     3.5  2005-04-02 23:29:40
5        1      112     3.5  2004-09-10 03:09:00
6        1      151     4.0  2004-09-10 03:08:54
7        1      223     4.0  2005-04-02 23:46:13
8        1      253     4.0  2005-04-02 23:35:40
9        1      260     4.0  2005-04-02 23:33:46
10       1      293     4.0  2005-04-02 23:31:43
11       1      296     4.0  2005-04-02 23:32:47
12       1      318     4.0  2005-04-02 23:33:18
13       1      337     3.5  2004-09-10 03:08:29
14       1      367     3.5  2005-04-02 23:53:00
15       1      541     4.0  2005-04-02 23:30:03
16       1      589     3.5  2005-04-02 23:45:57
17       1      593     3.5  2005-04-02 23:31:01
18       1      653     3.0  2004-09-10 03:08:11
19       1      919     3.5  2004-09-10 03:07:01

In [22]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [23]:
del ratings['timestamp']
del tags['timestamp']

Data structures

series

In [24]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [25]:
print(row_0)

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [26]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [27]:
row_0['userId']

18

In [28]:
'rating' in row_0

False

In [29]:
row_0.name

0

In [30]:
row_0 = row_0.rename('firstRow')
row_0.name

'firstRow'

Data Frames

In [31]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [32]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [33]:
tags.iloc[[0,11,500]]

     userId  movieId                tag
0        18     4141        Mark Waters
11       65     1783      noir thriller
500     342    55908  entirely dialogue

Descriptive Statistics

In [35]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [36]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [37]:
ratings.mean()

userId     69045.872583
movieId     9041.567330
rating         3.525529
dtype: float64

In [38]:
ratings['rating'].min()

0.5

In [39]:
ratings['rating'].max()

5.0

In [40]:
ratings['rating'].mode()

0    4.0
Name: rating, dtype: float64

In [41]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.000850  0.001175
movieId -0.000850  1.000000  0.002606
rating   0.001175  0.002606  1.000000

In [45]:
filter1 = ratings['rating'] > 10
print(filter1)
filter1.any()

0           False
1           False
2           False
3           False
4           False
            ...
20000258    False
20000259    False
20000260    False
20000261    False
20000262    False
Name: rating, Length: 20000263, dtype: bool

False

In [46]:
filter2 = ratings['rating'] > 0
filter2.all()

True

Data Cleaning : Handling Missing Data

In [47]:
movies.shape

(27278, 3)

In [49]:
movies.isnull().any().any()

False

In [50]:
ratings.isnull().any().any()

False

In [51]:
tags.isnull().any().any()

True

In [52]:
tags=tags.dropna()

In [53]:
tags.isnull().any().any()

False

Data Visualization

In [55]:
%matplotlib inline

ratings.hist(column='rating', figsize=(10,5))

array([[<Axes: title={'center': 'rating'}>]], dtype=object)

In [56]:
ratings.boxplot(column='rating', figsize=(10,5))

Slicing Out Columns

In [57]:
tags['tag'].head()

0      Mark Waters
1        dark hero
2        dark hero
3    noir thriller
4        dark hero
Name: tag, dtype: object

In [59]:
tag_counts = tags['tag'].value_counts()
tag_counts[-10:]

tag
missing child                    1
Ron Moore                        1
Citizen Kane                     1
mullet                           1
biker gang                       1
Paul Adelstein                   1
the wig                          1
killer fish                      1
genetically modified monsters    1
topless scene                    1
Name: count, dtype: int64

In [61]:
tag_counts[:10].plot(kind='bar', figsize=(10,5))